certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cmake==3.30.4
filelock==3.16.1
idna==3.10
Jinja2==3.1.4
joblib==1.4.2
lit==18.1.8
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
numpy==1.24.0
packaging==24.1
pillow==10.4.0
protobuf==5.28.2
pycparser==2.22
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
soundfile==0.12.1
sympy==1.13.3
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
triton==2.0.0
typing_extensions==4.12.2
urllib3==2.2.3
